
.body {
    background-color: lightcoral; 
    font-family: fantasy;
}

 
.item{
    display: inline-block;
   
}

.list{
    margin:20px auto;
}

.list .item img{
    width:auto;
    height:300px;
    border: 2px solid red;
}

 .heading{
    text-align: center;
    color:blue;
}

.in-block{
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

.div{
    
}